.DS_store
configstore
gspread

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# ZSH
.zcompdump
.zsh_history

plugin/packer_compiled.lua
lazygit
nvim/plugin/packer_compiled.lua
karabiner/automatic_backups
gh/hosts.yml
karabiner/.clj-kondo/.cache/v1
.lsp/.cache/db.transit.json
.clj-kondo/.cache/v1/lock
karabiner/karabiner.json
