;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

;; examples

;; !CTSequal_sign  | mandatory command control shift =
;;                 | which is command control +
;; !O#Sright_arrow | mandatory option optional any right_arrow

;; karabiner definition of mandatory and optional
;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

;; rule [<from> <to>]
;; if simplified modifier is used in <to>, optional(#) definition will be
;; ignored.

;; FROM modifiers
;; to understand better how modifiers work in karabiner
;; karabiner definition of mandatory and optional
;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

;;    | no modifier
;;                  input key maps to output key exactly
;;                  adding any modifier will cancel the event

;; !  | mandatory
;;                  specified modifier is removed in output (to event)
;;                  specified modifiers must be present for event to occur
;;                  adding any other modifier will cancel the event

;; #  | optional (single)
;;                  specified modifier is kept in output (to event)
;;                  one (or none) of the specified modifiers must be present
;;                  adding any other modifier will cancel the event

;; ## | optional any
;;                  specified modifier is removed in output (to event)
;;                  specified modifiers *must* be present for event to occur
;;                  adding any other modifier will add to output event
;;                  (what you typically expect, additional modifiers tacked on)
;;
;; need to prefix C T O S F with ! or #
;;
{:default true

 :layers {:caps-mode {:key :caps_lock :alone {:key :vk_none}}
        :right_cmd_mode {:key :right_command}
        :left_shift_mode {:key :left_shift}
          }

 :main [
        {:des "caps_lock + hjkl to arrow" 
         :rules [:caps-mode 
                 [:##h :##left_arrow] 
                 [:##j :##down_arrow] 
                 [:##k :##up_arrow] 
                 [:##l :##right_arrow]
                 [:##o :##delete_or_backspace]
                 [:##spacebar :##return_or_enter]
                 ;; App launching
                 [:e :!TSe]
                 [:d :!TSd]
                 [:s :!TSs]
                 [:t :!TSt]
                 [:a :!TSa]
         ]
         }
         {:des "cmd + e to escape" :rules [[:!Ce :escape]]}
         {:des "caps_lock alone to escape" :rules [[:caps_lock :escape]]}
         {:des "right-cmd for symbols" :rules [:right_cmd_mode 
                                               ;; left hand
                                               ;; top row
                                               [:q :!Shyphen] ;; ?
                                               [:w :!S2] ;; "
                                               [:e :!S1] ;; !
                                               [:r :!S0] ;; =
                                               [:t :!S5] ;; %
                                               ;; parentheses
                                               [:a :!SO8] ;; curly_brace
                                               [:s :!O8] ;; bracket
                                               [:d :!S8] ;; parenthesis
                                               [:f :!Sslash] ;; underscore
                                               [:g :!S7] ;; /
                                               ;; bottom row
                                               [:z :!S0]
                                               [:x :!S0]
                                               [:c :!S0]
                                               [:v :!S0]
                                               [:open_bracket :!Shyphen]

                                               ;; right hand
                                               [:j [:!Sclose_bracket :spacebar]] ;; ^
                                               [:k :non_us_backslash] ;; $
                                               [:l [ :!Sequal_sign :spacebar ]] ;; `
                                               ]}
         {:des "disable left shift for left-hand keys" :rules [:left_shift_mode 
                                                               [:1 :vk_none]
                                                               [:2 :vk_none]
                                                               [:3 :vk_none]
                                                               [:4 :vk_none]
                                                               [:5 :vk_none]
                                                               [:q :vk_none]
                                                               [:w :vk_none]
                                                               [:e :vk_none]
                                                               [:r :vk_none]
                                                               [:t :vk_none]
                                                               [:a :vk_none]
                                                               [:s :vk_none]
                                                               [:d :vk_none]
                                                               [:f :vk_none]
                                                               [:g :vk_none]
                                                               [:z :vk_none]
                                                               [:x :vk_none]
                                                               [:c :vk_none]
                                                               [:v :vk_none]
                                                               [:b :vk_none]
                                                               ;; row 1
                                                               [:y :!Sy]
                                                               [:u :!Su]
                                                               [:i :!Si]
                                                               [:o :!So]
                                                               [:p :!Sp]
                                                               ;; row 1
                                                               [:h :!Sh]
                                                               [:j :!Sj]
                                                               [:k :!Sk]
                                                               [:l :!Sl]
                                                               ;; row 1
                                                               [:b :!Sb]
                                                               [:n :!Sn]
                                                               [:m :!Sm]
                                                               [:comma :!Scomma]
                                                               ]}
 ]}